snippet com "Standard functional React component" b
import React from "react";

const ${1:`!v expand('%:t:r')`} = (props) => {
  return (
    <div>
    </div>
  );
};

export default ${1:`!v expand('%:t:r')`};
endsnippet
